<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014-2017 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.mingjia.MyBatisCache.test.dao.CityMapper">
    <select id="selectSelective" parameterType="io.github.mingjia.MyBatisCache.test.dao.po.City" resultType="City">
        select * from city
        <where>
            <if test="id != null">
                AND id=#{id,jdbcType=INTEGER}
            </if>
            <if test="countryid != null">
                AND countryid=#{countryid,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <select id="selectSelectiveByMap" parameterType="java.util.Map" resultType="City">
        select * from city
        <where>
            <if test="id != null">
                AND id=#{id,jdbcType=INTEGER}
            </if>
            <if test="countryid != null">
                AND countryid=#{countryid,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectByName" resultType="City">
        select * from city
        <if test="cityName != null">
        where name like CONCAT('%',#{cityName},'%' )
        </if>
        <if test="cityName == null">
            where 1!=1
        </if>

    </select>

    <select id="selectCitysByCountryId" parameterType="INTEGER" resultType="City">
        select * from city where countryid=#{countryid,jdbcType=INTEGER}
    </select>

    <select id="selectCountryAndCitysByCountryId" parameterType="INTEGER" resultType="City">
        select a.*,b.name as countryname
        from city a LEFT join country b on a.countryid = b.id
        where countryid=#{countryid,jdbcType=INTEGER}
    </select>

    <select id="selectByIds" parameterType="java.util.List" resultType="City">
        select * from city
        <choose>
            <when test="ids != null and ids.size()>0">
                where id  IN
                <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                where 1=2
            </otherwise>
        </choose>
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="City">
        select * from city where id=#{id,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="City">
        insert into city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="countryid != null">
                countryid,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="countryid != null">
                #{countryid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="City">
        update city
        <set>
            <if test="countryid != null">
                countryid = #{countryid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from city
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>
